RewriteEngine on

RewriteCond   %{QUERY_STRING}    ^tags=(.*)$
RewriteRule ^([a-zA-Z0-9]+)/$    /$1/index/%1? [R]

RewriteRule ^manage/                        manage.php [L]
RewriteRule ^([a-zA-Z0-9]+)/manage/set/     manage.php?site=$1&set=1 [L]
RewriteRule ^([a-zA-Z0-9]+)/manage/         manage.php?site=$1 [L]

RewriteRule ^([a-zA-Z0-9]+)/proxy/([a-z]+)/([a-zA-Z0-9]+)\ ([0-9]+)\ (.*)     proxy.php?site=$1&type=$2&id=$4 [L]

RewriteRule ^([a-zA-Z0-9]+)/post/([0-9]+)/                   post.php?site=$1&id=$2 [L]
RewriteRule ^([a-zA-Z0-9]+)/index/([0-9]+)-([0-9]+)/(.*)     post_index.php?site=$1&page=$2&limit=$3&search=$4 [L]
RewriteRule ^([a-zA-Z0-9]+)/index/([0-9]+)/(.*)              post_index.php?site=$1&page=$2&search=$3 [L]
RewriteRule ^([a-zA-Z0-9]+)/index/(.*)                       post_index.php?site=$1&page=1&search=$2 [L]

RewriteRule ^([a-zA-Z0-9]+)/api/similar_tags/(.*)     api.php?site=$1&handler=similar_tags&query=$2 [L]

RewriteRule ^([a-zA-Z0-9]+)/favicon/post/             icon.php?site=$1&type=post [L]
RewriteRule ^([a-zA-Z0-9]+)/favicon/index/            icon.php?site=$1&type=index [L]


RewriteRule ^tool/md5/([a-zA-Z0-9]+)/                 getname.php?hash=$1 [L]
RewriteRule ^tool/filename/([a-zA-Z0-9]+)/([0-9]+)/   getname.php?site=$1&id=$2 [L]
